.formForCreate{
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: #f1f1f1;
  height: 100px;
  line-height: 100px;
}

.formForCreate input {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin-right: 10px;
}

.formForCreate button {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}

button{
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
}

.caricamentoCreate {
  position: absolute;
  text-align: center;
  font-size: 1.2rem;
  background-color: black;
  color: #f1f1f1;
  border-radius: 15px;
  padding: 0 25px;
  border: 1px solid #f1f1f1;
}
