@import 'variables';
@import 'media';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.logo{
    height: 90px;
}

.bg-red{
    background-color: $primary;
}

h3, .borderBottomPrimary{
    border-bottom: 3px solid $primary;
}

.card{
    width: 18rem;
}

a {
    text-decoration: none;
}