.homeBody{
  background-image: url(../../../assets/img/8hs349b7tf831.png);
  background-position: center;
  background-size: cover;
  overflow:hidden;
  height: 100vh;
}

.body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
