button {
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottoni {
  display: flex;
  gap: 10px;
}

button{
  margin-right: 15px;
}

.table {
  border-collapse: collapse;
  margin-top: 15px;
}

tr {
  border: 1px solid #f1f1f1;
}

td, th {
  padding: 15px 25px;
  text-align: left;
}

.containerTabella {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.caricamentoTask {
  line-height: 40vh;
  text-align: center;
  font-size: 1.5rem;
}
