@media screen and (max-width: 768px){ 
h1{
    font-size: 4rem;
}

#svgmmm{
right: -90px;
display: none;

}
.container, .container3, #heroSection, #main{
    width: 90vw;
}

#provaHeroSection{
    justify-content: flex-start;
}

.container2{
    margin-left: 40px;
}

.article6{
    flex-basis: 300px;
}

.container3{
    order: 2;
}

.article7{
    flex-basis: 100%;
    
}

#desktopFooter{
    display: none;
}

.dxSide{
    flex-basis: 100%;
    order: 1;
}


}

@media screen and (max-width: 1000px){

    #svgmmm{
        display: none;
    }
    .container, .container3, #heroSection, #main{
        width: 70vw;
    } 

.article6{
    flex-basis: 100%;
}
}
