@media screen and (min-width: 425px) and (max-width: 768px){ 
h1{
    font-size: 4rem;
}

#svgmmm{
    left: 330px;
}
.container, .container3, #main{
    width: 90vw;
}

#section{
    flex-basis: 90vw;
}

#heroSection{
    flex-basis: 60vw;
    margin-left: 50px;
}


#provaHeroSection{
    justify-content: flex-start;
}

.article6{
    flex-basis: 300px;
}

section{
    order: 2;
    padding: 50px 0 50px 0;
}

.article7{
    flex-basis: 100%;
    
}

#desktopFooter{
    display: none;
}

.dxSide{
    flex-basis: 100%;
    order: 1;
}

#containerForTablet{
    display: flex;
    flex-direction: column;
}

#aside{
    padding-bottom: 25px;
}

.greenAside {
    color: var(--colorGreen);
    margin-top: 25px;
    flex-basis: 100%;

}

#footerMobile{
    display: flex;
    flex-basis: 100vw;
    justify-content: center;
    background-color: #191919;
    padding: 25px;
}

.flex a{
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 90vw;
    gap: 25px;
}

#footer4{
    display: flex;
    flex-basis: 90vw;
    gap: 25px;
}

#logoFooter{
    filter: invert(100%);
}

.buttonLoad{
    justify-content: center;
    display: flex;
}

.buttonLoad a{
    color: #191919;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 25px;
    border: 1px solid #191919;
}

}
