@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
--colorYellow: #ffc017;
--colorBlack: #191919;
--colorGreen: #1a8917;
--colorGreyTxt: gray;
--colorGreyNumberButton: #F2F2F2;
}
/* ______________________________________________________ GENERIC ________________________________________________________ */

a{
    text-decoration-line: none;
    color: var(--colorBlack);
}

ul{
    list-style-type: none;
}

#body{
    color: #191919;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}


/* ______________________________________________________ HEADER ________________________________________________________ */
.container, .container3{
    max-width: 1200px;
    width: 62vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    flex-wrap: wrap;
}

#header{
    border-bottom: 1px solid var(--colorBlack);
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.yellow{
    background-color: var(--colorYellow);
    transition: background-color 0.5s;
}

#headerNav{
    display: flex;
    gap: 25px;
    align-items: center;
    height: 100%;
}

.blackButton{
    color: white;
    background-color: var(--colorBlack);
    border-radius: 25px;
    padding: 12px 17px;
    transition: background-color 0.5s;

}

.white{
    background-color: white;
    transition: background-color 0.5s;
}

.green{
    background-color: var(--colorGreen);
    transition: background-color 0.5s;
}

/* ______________________________________________________ HERO SECTION ________________________________________________________ */


#heroSection{
    background-color: var(--colorYellow);
    display: flex;
    justify-content: flex-end;
    height: 462px;
    border-bottom: 1px solid var(--colorBlack);
}

.prova{
    
}

.container2{
    align-self: center;
    display: flex;
    height: 462px;
}

h1{
    font-size: 7rem;
}

#sxHeroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    flex-basis: 50%;
}

#sxHeroSection p{
    font-size: 2rem;
}


svg{
    width: 100%;
    height: 100%;
    /* transform: translate3d(0px, 0px, 0px);  */
    /* right: 0px; */
    /* content-visibility: visible; */
}

/* ______________________________________________________ ARTICLE 6 ________________________________________________________ */

#main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 62Vw;
    justify-content: center;
    gap: 15px;
    border-bottom: 0.5px solid var(--colorGreyNumberButton);
    padding: 50px;
}

#trendingSection{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    font-weight: bold;
}

.article6{
    display: flex;
    flex-basis: 390px;
}

.mainArticle6{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

.nrArticle6{
    color: var(--colorGreyNumberButton);
    font-size: 2rem;
    font-weight: bold;
    margin: 15px;
}

.mainArticle6 a{
    font-weight: bold;
}

.undetTxt{
    display: flex;
    justify-content: space-between;
}

.author{
    display: flex;
    align-items: center;
    gap: 15px;
}

.author img{
    border-radius: 100%;
    height: 25px;
}

/* ______________________________________________________ ARTICLE 7 ________________________________________________________ */
.container3{
    padding: 50px;
}

#section{
    flex-basis: 70%;
}

.article7{
    display: flex;
}

.mainArticle7{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    gap: 15px;
}

.imgArticle7{
    width: 200px;
    margin: 15px;
}


.authorName{
    font-weight: bold;
}

.titleArticle{
    font-weight: bold;
    font-size: 1.4rem;
}

.contentArticle7{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.underTxtArticle{
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

.greyTxt{
    color: var(--colorGreyTxt);
}

.subjectArticle7{
    background-color: var(--colorGreyNumberButton);
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
}

.bookmarkArticle{
    align-self: flex-end;
}


.asideButton{
    background-color: var(--colorGreyNumberButton);
    padding: 15px;
    border-radius: 25px;
    flex-grow: 1;
}

#aside{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 0.5px solid var(--colorGreyNumberButton);

}

#aside p{
    flex-basis: 100%;
    font-weight: bold;
    margin-bottom: 25px;
}

.greenAside{
    color: var(--colorGreen);
    margin: 25px;
}


.dxSide{
    flex-basis: 30%;
    align-self:flex-start;
    display: flex;
    flex-direction: column;
}

/* ______________________________________________________ FOOTER DESKTOP ________________________________________________________ */

#desktopFooter{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 25px;
}

#desktopFooter a{
    color: var(--colorGreyTxt);
}

