li{
  list-style: none;
}

ul{
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
  line-height: 50px;
  margin: 0;;
}

a {
  text-decoration: none;
  color: gray;
}

header{
  background-color: black;
  height: 50px;
}

.active{
  color: rgb(255, 255, 255);
  font-weight: bold;
}


