/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    font-size: 2rem;
    margin: 50px;
    border: 3px solid #666666;
    padding: 30px;
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 100%;
}

i{
    opacity: 0;
}

.parole{
    position: absolute;
    width: 100%;
    left: 380px;
}

.parole i:nth-child(1){
    color: #6A889C;
    display: block;
    position: absolute;
    opacity: 0;
    animation-name: animazioneCiclica; 
    animation-duration: 9s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

.parole i:nth-child(2){
    color: #6A889C;
    display: block;
    position: absolute;
    opacity: 0;
    animation-name: animazioneCiclica; 
    animation-duration: 9s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

.parole i:nth-child(3){
    color: #6A889C;
    display: block;
    position: absolute;
    opacity: 0;
    animation-name: animazioneCiclica; 
    animation-duration: 9s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-delay: 6s;
}

@keyframes animazioneCiclica {
    0%, 30% {
    opacity: 0;
    }
    33%, 63% {
    opacity: 1;
    transform: translate(0, 0);
    }
    66%, 100% {
    opacity: 0;
    transform: translate(0, -100%);
}
}